.Notifications {
	border: 0.2rem dashed #e0354b;
	padding: 5px 10px;
	margin-top: 10px;
}

li[data-notification-type="default"] {
	color: blue;
}

li[data-notification-type="urgent"] {
	color: red;
}
